*{
	box-sizing: border-box;
}
h1, h2, section{
	font-family: helvetica, arial, serif;
}

h1, h2{
	text-align: center;
	padding: 0.5%;
}

h1{
	font-size: 175%;
}

h2{
	font-size: 125%;
	margin: 0;
}

section, h2{
	border: 1px solid #000000;
}

section > h2{
	position: absolute;
	top: 0px;
	right: 0px;
}

section{
	position:relative;
	float: left;
	margin: 2%;
	padding: 5% 2%;
	background-color: #CDC2C2;
	
}

#chicken{
	background-color: #E1C97A;
}
#beef{
	background-color: #E37B7B;
}
#sushi{
	background-color: #CEE288;
}

.row{
	width: 100%;
	margin: 0;
	padding: 0 2%;
}

/*Responsive design*/
/*desktop version*/
@media (min-width: 992px){
	.desktop{		
		width: 29%;
	}
}

/*tablet version*/
@media (min-width: 768px) and (max-width: 991px){
	.tablet-1{
		width:96%;
	}
	.tablet-2{
		width: 46%;
	}
}

/*mobile view*/
@media (max-width: 767px){
	.mobile{
		width: 100%;
	}
}
